<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div id="header">
    </div>
    {{> navbar}}


    <div class="row">
      <div class="col-10 col-md-1 col-sm-5">

      </div>
      <div class="col-8 col-md-2 col-sm-3 " id="write_blog1">
        <p>
          <a class="btn btn-light" data-toggle="collapse" href="#post_a_blog" role="button" aria-expanded="false" aria-controls="post_a_blog">
            Post A Blog
          </a>

        </p>

      </div>
      <div class="col-8 col-md-6 col-sm-8 input-group mb-3" id="searchbar">


        <input type="text" id="search" class="form-control" style="width: auto;height: 35px;" placeholder="Search">
        <button id="searchbtn" class="btn btn-light" style="width: 35px;height: 35px; margin-left: 3px;"><img src="https://png.icons8.com/ios/50/333333/google-web-search.png"
            height="30px" width="30px" style="margin-left:-10px;margin-top:-7px;"> </button>

      </div>
    </div>
    <div class="row">
      <div class="col-9 col-md-1 col-sm-5"></div>
      <div class="col-9 col-md-7 col-sm-8 " id="write_blog2">
        <div class="collapse" id="post_a_blog">
          <div class="card card-body">
            <form id="profile-post2">
              <div class="form-group">
                <label for="topic">Topic</label>
                <input type="text" class="form-control" id="topic" placeholder="Enter your topic">
              </div>
              <div class="form-group">
                <label for="short_description">Short Description</label>
                <input type="text" class="form-control" id="short_description" placeholder="Enter a short description about your topic">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
              </div>

              <!-- <div class="input-group mb-3">
                                      
                                      <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file_input_recipe" required>
                                        <label class="custom-file-label" for="file_input_recipe">Choose video or photo</label>
                                      </div>
                                    </div> -->
              <button type="button" class="btn btn-primary btn-sm " id="post_blog">Post</button>
              <br>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div id="blog_block">
      <div class="row">
        <div class="col-11 col-md-2 col-sm-5"></div>
        <div class="col-11 col-md-8 col-sm-9 blog_post">
          <div class="card text-center">
            <div class="card-header">
              Name
            </div>
            <div class="card-body blog_body">
              <h5 class="card-title">Topic</h5>
              <p class="card-text">Short Description</p>
              <p>
                <a data-toggle="collapse" href="#more_description" aria-expanded="false" aria-controls="more_description">
                  Click for more
                </a>

              </p>
              <div class="collapse" id="more_description">
                <div class="card card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>
            </div>


            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{> footer}}
</body>

</html>