<div id="footer">
            
<ul class="nav justify-content-center bottomfooter">
    <li class="nav-item">
      <a class="nav-link active" href="#">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Suggestions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Complaints</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><img src="https://png.icons8.com/color/50/333333/facebook.png" width="auto" height="40px" class="footer_icons"></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><img src="https://png.icons8.com/color/50/333333/instagram-new.png" width="auto" height="40px" class="footer_icons"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="https://png.icons8.com/color/50/333333/twitter.png" width="auto" height="40px" class="footer_icons"></a>
          </li>
  </ul>
</div>