<div class="row">
  <div class="col-12 col-md-12 col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" id="nav_bar">
        <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Home</a></li>
        <li class="breadcrumb-item"><a href="/profile" style="text-decoration: none;">Profile</a></li>
        <li class="breadcrumb-item"><a href="/blogs" style="text-decoration: none;">Blogs</a></li>
        <li class="breadcrumb-item"><a href="/recipe" style="text-decoration: none;">Recipe</a></li>
        <li class="breadcrumb-item"><a href="#" style="text-decoration: none;">Settings</a></li>
      </ol>
    </nav>


  </div>
</div>