<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
    <div class="navbar navbar-dark" id="header">
        <a class="navbar-brand" href="#">
            <!-- <img src="photos/LogoSample_ByTailorBrands.jpg" height="80px" width="150px"> -->

        </a>

    </div>
    <form class="container" id="signupform" method="POST" action="/signup" enctype="multipart/form-data">
        <h3>Basic Information</h3>
        <div class="form-group">
            <label for="fname">Full Name</label>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" id="first" placeholder="First Name" name='firstname' required pattern="[A-Z|a-z]+">
                </div>

                <div class="col">
                    <input type="text" class="form-control" id="last" placeholder="Last Name" name="lastname" pattern="[A-Z|a-z]+" required>
                </div>
            </div>

        </div>

        <div class="form-group">
            <label for="dob">Date Of Birth</label>
            <input type="date" id="dob" name="dob" class="form-control form-control-sm" min="01-01-1947" max="31-12-2001" style="width:35%" required>
        </div>
         <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control form-control-sm" minlength="1" style="width:35%" required>
        </div>


        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control form-control-sm" minlength="8" style="width:35%" required>
        </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="male_radio" value="MALE" checked>
            <label class="form-check-label" for="male_radio">
                MALE    
            </label> 
        </div>
  
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="female_radio" value="FEMALE">
            <label class="form-check-label" for="female_radio">
                FEMALE   
            </label> 
        </div>
         <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="transgender_radio" value="TRANSGENDER">
            <label class="form-check-label" for="transgender_radio">
                TRANSGENDER   
            </label> 
        </div>
    </div>
         <div class="form-group">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" class="form-control form-control-sm" minlength="3" style="width:35%" required>
        </div>
         <div class="input-group mb-3">

                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="photo" required>
                  <label class="custom-file-label" for="file_input">Choose photo</label>
                </div>
              </div>
        {{!--
        <div class="form-group">
            <label for="pass">Re-Enter Password</label>
            <input type="password" id="rpass" class="form-control form-control-sm" style="width:35%" required>
        </div> --}}



        <button type="submit" class="btn btn-primary" id="submit" style="margin-bottom: 15px">Submit</button>

        <button type="reset" class="btn btn-dark" style="margin-bottom: 15px">Clear</button>

    </form>

    {{> footer}}

</body>

</html>