#header{
    height:80px;
    background-color:grey;
}
body{
    background-color:lightblue;
    position: relative;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
     
      background-color: black;
}
a{
    color:white;

}
.footer_icons{
    transform: translateX(380px)
}