#header{
    height:80px;
    background-color:grey;
}
body{
    background-color:lightblue;
}

#footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 0px;
     
      background-color: black;
}
a{
    
    color: white;
    
}
.footer_icons{
    transform: translateX(380px)
}