<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="jquery-3.3.1.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div id="header">
    </div>
    <br> {{> navbar}}
    <div class="row">
      <div class="col-10 col-md-1 col-sm-5">

      </div>
      <div class="col-8 col-md-2 col-sm-3 " id="write_recipe1">
        <p>
          <a class="btn btn-light" data-toggle="collapse" href="#post_a_recipe" role="button" aria-expanded="false" aria-controls="post_a_recipe">
            Post A Recipe
          </a>

        </p>

      </div>
      <div class="col-8 col-md-6 col-sm-8 input-group mb-3" id="searchbar">


        <input type="text" id="search" class="form-control" style="width: auto;height: 35px;" placeholder="Search">
        <button id="searchbtn" class="btn btn-light" style="width: 35px;height: 35px; margin-left: 3px;"><img src="https://png.icons8.com/ios/50/333333/google-web-search.png"
            height="30px" width="30px" style="margin-left:-10px;margin-top:-7px;"> </button>

      </div>
    </div>
    <div class="row">
      <div class="col-10 col-md-1 col-sm-5">

      </div>
      <div class="col-8 col-md-7 col-sm-9 " id="write_recipe2">
        <div class="collapse" id="post_a_recipe">
          <div class="card card-body">
            <form id="profile-post2">
              <div class="form-group">
                <label for="recipe_name">Recipe Name</label>
                <input type="text" class="form-control" id="recipe_name" placeholder="Enter your recipe name">
              </div>
              <div class="form-group">
                <label for="short_description">Short Description</label>
                <input type="text" class="form-control" id="short_description" placeholder="Enter a short description about your recipe">
              </div>
              <div class="form-group">
                <label for="ingredients">Ingredients</label>
                <textarea class="form-control" id="ingredients" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="procedures">Procedures</label>
                <textarea class="form-control" id="procedures" rows="3"></textarea>
              </div>
              <!-- <div class="input-group mb-3">
                                      
                                      <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file_input_recipe" required>
                                        <label class="custom-file-label" for="file_input_recipe">Choose video or photo</label>
                                      </div>
                                    </div> -->
              <button type="button" class="btn btn-primary btn-sm " id="post_recipe">Post</button>
              <br>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="card-group" id="recipe_blocks">
        <div class="col-9 col-lg-4 col-md-6 col-sm-9">
          <div class="card">
            <a href="#"><img class="card-img-top" src="photos/pizza.jpg" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">Recipe1</h5>
              <p class="card-text">
                <blockquote><em>by ABC</em></blockquote>
              </p>
              <p class="card-text">Short Description</p>

            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col-9 col-lg-4 col-md-6 col-sm-9">
          <div class="card">
            <a href="#"><img class="card-img-top" src="photos/pizza.jpg" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">Recipe2</h5>
              <p class="card-text">
                <blockquote><em>by ABC</em></blockquote>
              </p>
              <p class="card-text">Short Description</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col-9 col-lg-4 col-md-6 col-sm-9">
          <div class="card">
            <a href="#"><img class="card-img-top" src="photos/pizza.jpg" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">Recipe3</h5>
              <p class="card-text">
                <blockquote><em>by ABC</em></blockquote>
              </p>
              <p class="card-text">Short Description</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>



        <div class="col-9 col-lg-4 col-md-6 col-sm-9">
          <div class="card">
            <a href="#"><img class="card-img-top" src="photos/pizza.jpg" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">Recipe4</h5>
              <p class="card-text">
                <blockquote><em>by ABC</em></blockquote>
              </p>
              <p class="card-text">Short Description</p>

            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> footer}}
</body>

</html>