#header{
    height:80px;
    background-color:darkgray;
}
body{
    background-color: lightblue;
    
}
#nav_bar{
    background-color: grey;
}
a{
    color: white;
}

.card{
    margin: 20px;
}
#profile-post2{
    /* background-color: brown; */
    

}
#footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 0px;
     
      background-color: black;
}
.footer_icons{
    transform: translateX(380px)
}

